In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import pyarrow as pa
import pyarrow.parquet as pq

In [17]:
import timeit

In [22]:
dfParquet = pd.read_parquet('social_media_entertainment_data.parquet')

In [21]:
df = pd.read_csv('social_media_entertainment_data.csv')

In [32]:
test_code = """
import pandas as pd
import matplotlib.pyplot as plt
dfParquet = pd.read_parquet('social_media_entertainment_data.parquet')
dfParquet.head()
"""

if __name__ == "__main__":
    time = timeit.timeit(test_code, number = 10)
    print(time)

2.8798494000002393

In [33]:
test_code = """
import pandas as pd
import matplotlib.pyplot as plt
dfParquet = pd.read_csv('social_media_entertainment_data.csv')
dfParquet.head()
"""

if __name__ == "__main__":
    time = timeit.timeit(test_code, number = 10)
    print(time)

13.45331060000035

In [6]:
df = pd.read_csv('social_media_entertainment_data.csv')

In [7]:
table = pa.Table.from_pandas(df)

In [8]:
pq.write_table(table, 'social_media_entertainment_data.parquet')

In [9]:
dfParquet = pd.read_parquet('social_media_entertainment_data.parquet')

In [10]:
dfParquet.head()

,User ID,Age,Gender,Country,Daily Social Media Time (hrs),Daily Entertainment Time (hrs),Social Media Platforms Used,Primary Platform,Daily Messaging Time (hrs),Daily Video Content Time (hrs),...,Ad Interaction Count,Time on Educational Platforms (hrs),Parental Status,Tech Savviness Level (scale 1-10),Preferred Device for Entertainment,Data Plan Used,Digital Well-being Awareness,Sleep Quality (scale 1-10),Social Isolation Feeling (scale 1-10),Monthly Expenditure on Entertainment (USD)
0,1,32,Other,Germany,4.35,4.08,5,TikTok,0.35,5.43,...,20,4.11,Yes,9,Tablet,50GB,Moderate,7,8,33.04
1,2,62,Other,India,4.96,4.21,2,YouTube,2.55,4.22,...,26,4.59,Yes,9,PC,10GB,Low,8,2,497.78
2,3,51,Female,USA,6.78,1.77,4,Facebook,2.09,1.09,...,47,0.66,Yes,9,Tablet,10GB,High,5,3,71.72
3,4,44,Female,India,5.06,9.21,3,YouTube,3.69,4.80,...,22,3.44,Yes,7,Tablet,10GB,Low,9,9,129.62
4,5,21,Other,Germany,2.57,1.30,4,TikTok,3.97,2.74,...,42,4.14,Yes,7,Smart TV,Unlimited,Low,5,9,35.90

In [11]:
dfParquet.shape

(300000, 40)